{
    "bracketSpacing": true,
    "bracketSameLine": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "arrowParens": "always",
    "trailingComma": "es5",
    "tabWidth": 4
}
