@import "./variables";

$navbar-background-color: transparent;
$navbar-burger-color: $primary-foreground;

$navbar-item-color: $primary-foreground;
$navbar-item-hover-color: $primary-foreground;
$navbar-item-active-color: $primary-foreground;

$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

$navbar-dropdown-background-color: transparent;

$title-color: $primary-foreground;
$subtitle-color: $secondary-foreground;

@import "~bulma/bulma.sass";
