@import "./variables";
@import "./mixins";
@import "./themes";

$navbar-background-color: transparent;

$navbar-burger-color: var(--primary-foreground);

$navbar-item-color: var(--secondary-foreground);
$navbar-item-hover-color: var(--primary-foreground);
$navbar-item-active-color: var(--primary-foreground);

$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

$title-color: var(--primary-foreground);
$subtitle-color: var(--secondary-foreground);

$title-weight: 800;
$subtitle-weight: 410;

$title-line-height: 2.5rem;
$subtitle-line-height: 1.75rem;

$subtitle-size: 1rem;
$subtitle-negative-margin: 2.15rem;

@import "~bulma/bulma.sass";
