@use "sass:map";

@import "./mixins";

$playfairdisplay: "Playfair Display", serif;
$dmsans: "DM Sans", sans-serif;
$jetbrains-mono: "JetBrains Mono", sans-serif;

$theme-map-personal: (
    "primary-background": #1a202c,
    "secondary-background": #171d28,
    "primary-foreground": #d3e4eb,
    "secondary-foreground": #bbbbbb,
    "tertiary-foreground": #ff5c98,
);
