$jetbrains-mono: "JetBrains Mono", monospace;
$dm-sans: "DM Sans", sans-serif;

$primary-background: #1a202c;
$secondary-background: #171d28;
$tertiary-background: #2e343e;

$primary-foreground: #d3e4eb;
$secondary-foreground: #b2a6b6;
