@charset "utf-8";

@import "./bulma";
@import "./mixins";

*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;

    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "JetBrains Mono", monospace;
    font-feature-settings: "kern";
    background: #1a202c;
}

.navbar {
    padding: 0.75rem;

    .navbar-item {
        font-weight: 450;
        letter-spacing: 0.5px;
        transition: 0.5s;

        margin-left: 10px;
        margin-right: 10px;

        .navbar-link::after {
            border-color: $secondary-foreground;
        }

        .navbar-link:hover::after {
            border-color: $primary-foreground;
        }
    }

    border-bottom: 0.5px solid $tertiary-background;
}

.index {
    padding: 60px;

    header {
        .title {
            padding-bottom: 24px;
            @include font-style(51px, 73px, normal, 700);
        }
        .subtitle {
            @include font-style(16px, 32px, normal, normal);
        }

        .socials {
            display: flex;

            margin-top: 44px;
            margin-bottom: 44px;
            font-size: 0;
            gap: 10px;

            flex-direction: row;
            align-items: left;
            justify-content: left;

            .is-icon {
                display: inline-block;
                padding: 8px;

                transition: transform 0.3s ease-out;

                &:hover {
                    background: $tertiary-background;
                    border-radius: 8px;
                }
            }

            svg {
                color: $secondary-foreground;
            }
        }
    }

    hr {
        margin-top: 74px;
        margin-bottom: 74px;

        height: 1px;
        background-color: $tertiary-background;
        border: none;
    }

    section {
        .title {
            @include font-style(25px, 36px, normal, 700);
        }
        .subtitle {
            @include font-style(14px, 28px, normal, normal);
            padding-bottom: 18px;
        }

        .projects {
            .project {
                margin-top: 18px;
                margin-bottom: 18px;

                padding: 28px;
                background: $secondary-background;
                border: 0.5px solid $tertiary-background;
                border-radius: 8px;

                .project-media {
                    padding-right: 80px;

                    img {
                        border-radius: 8px;
                    }
                }
                .project-information {
                    .title {
                        @include font-style(16px, 28px, normal, 700);
                    }
                    .subtitle {
                        @include font-style(14px, 28px, normal, normal);
                    }
                }
            }
        }
    }
}

.about {
    padding-top: 60px;
    padding-bottom: 60px;

    main {
        .title {
            padding-bottom: 24px;
            @include font-style(51px, 73px, normal, 700);
        }
        .subtitle {
            @include font-style(16px, 32px, normal, normal);
        }
    }
}
