@charset "utf-8";
@import "./mixins";

@import url("https://fonts.cdnfonts.com/css/airbnb-cereal-app?styles=36584,36586,36587,36583,36585,36582");
@import url("https://fonts.cdnfonts.com/css/inter?styles=29139,29142,29132,29135,29137,29140,29128,29130,29126");

$airbnb-font-family: "Airbnb Cereal App", sans-serif;
$inter-font-family: "Inter", sans-serif;

$blue-whale-color: #042a38;
$electric-violet-color: #e81cee;
$spring-wood-color: #f2f5eb;
$azureish-white: #d3e4eb;
$dark-gunmetal: #1a202c;

*,
*::before,
*::after {
	border-width: 0;
	border-style: solid;

	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-rendering: optimizeLegibility;

	touch-action: manipulation;
}

body {
	margin: 0;
	padding: 0;
	-ms-overflow-style: scrollbar;
}

html,
body {
	font-feature-settings: "kern";
	font-family: $inter-font-family;
}

p {
	font-family: $inter-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $airbnb-font-family;
}

html,
body {
	background: $dark-gunmetal;
}

.navbar {
	font-family: $airbnb-font-family;

	.is-active {
		background: $dark-gunmetal;
	}

	.navbar-item {
		@include font-style(18, normal, normal, normal);

		color: $spring-wood-color;
	}
	.navbar-end {
		.navbar-item {
			@include font-style(18, normal, normal, 500);
			@include color-opacity($azureish-white, 0.8);

			background: none;
			margin-left: 28px;
			margin-right: 28px;

			&:hover {
				transition: 0.3s;
				@include color-opacity($electric-violet-color, 0.8);
			}

			&:focus,
			&:active {
				color: $spring-wood-color;
				background: $blue-whale-color;
				transition: 0.6s;
			}
		}
	}
	.navbar-title {
		@include font-style(24, normal, normal, 600);

		font-family: $airbnb-font-family;

		&:hover,
		&:active,
		&:focus {
			color: $blue-whale-color;
		}
	}
}

.footer {
	margin-top: 120px;
	background: $dark-gunmetal;
	p {
		color: $azureish-white;

		a {
			@include color-opacity($azureish-white, 0.8);
		}
	}
}

.index-wrapper {
	.pretitle {
		@include font-style(30, normal, normal, 500);
		@include color-opacity($electric-violet-color, 0.8);

		padding: 2px;

		@include breakpoint(extra_small_devices) {
			@include font-style(24, normal, normal, 500);
		}
	}
	.title {
		@include font-style(72, normal, normal, 700);

		font-family: $airbnb-font-family;
		color: $azureish-white;

		@include breakpoint(extra_small_devices) {
			@include font-style(42, normal, normal, 700);
		}
	}
	.aftertitle {
		@include font-style(24, normal, normal, 400);
		@include color-opacity($azureish-white, 0.8);

		@include breakpoint(extra_small_devices) {
			@include font-style(20, normal, normal, 400);
		}
	}
	.text-aftertitle {
		@include font-style(16, 23, normal, 400);
		@include color-opacity($azureish-white, 0.7);

		@include breakpoint(extra_small_devices) {
			@include font-style(16, 22, normal, 400);
		}
	}
	.index-heading,
	.index-about-me,
	.index-projects {
		margin-bottom: 110px;
	}
	.index-heading {
		.avatar-image {
			object-fit: cover;
		}
	}
	.index-about-me {
		.is-half {
			margin-left: 32px;

			@include breakpoint(extra_small_devices) {
				margin-left: 0;
			}
		}
		.about-me-illust {
			@include breakpoint(extra_small_devices) {
				padding: 8px !important;
			}
		}
	}
	.index-projects {
		.projects-heading {
			@include breakpoint(extra_small_devices) {
				margin-bottom: 42px;
			}
		}
		.first {
			@include breakpoint(extra_large_devices) {
				margin-top: 32px !important;
			}
			@include breakpoint(extra_small_devices) {
				margin-top: 0 !important;
			}
		}
		.second {
			@include breakpoint(extra_large_devices) {
				margin-bottom: 32px !important;
			}
			@include breakpoint(extra_small_devices) {
				margin-bottom: 0 !important;
			}
		}
		.card {
			background: darken($color: $blue-whale-color, $amount: 2);

			margin: 6px;
			padding: 2px;
			border-radius: 12px;
			box-shadow: 0 0 0 0;
			transition: 0.8s;

			.card-image {
				.projects-image {
					filter: brightness(60%);
				}
			}

			.card-content {
				margin: 2px;

				.card-title {
					@include font-style(24, normal, normal, 600);
					color: $azureish-white;
					font-family: $airbnb-font-family;
				}
				.card-subtitle {
					@include color-opacity($azureish-white, 0.7);

					font-size: 18px;
					font-weight: 300;

					font-family: $inter-font-family;
				}
			}
			&:hover {
				transform: translateY(-25px);
			}
		}
	}
	.index-technologies {
		.index-swiper {
			margin-top: 120px;
		}
	}
}
.projects-wrapper {
	.pretitle {
		@include font-style(30, normal, normal, 500);
		@include color-opacity($electric-violet-color, 0.8);
	}
	.commissions {
		margin-top: 100px;
	}

	.card {
		background: darken($color: $dark-gunmetal, $amount: 5);

		margin: 6px;
		padding: 2px;
		border-radius: 12px;
		box-shadow: 0 0 0 0;
		transition: 0.8s;

		.card-image {
			.projects-image {
				filter: brightness(60%);
			}
		}

		.card-content {
			margin: 2px;

			.card-title {
				@include font-style(24, normal, normal, 600);
				color: $azureish-white;
				font-family: $airbnb-font-family;
			}
			.card-subtitle {
				@include color-opacity($azureish-white, 0.7);

				font-size: 18px;
				font-weight: 300;

				font-family: $inter-font-family;
			}
		}
	}
}

.call-to-action {
	display: inline-block;
	background: inherit;
	font: inherit;
	border: 0;
	outline: 0;
	padding: 0;
	transition: all 200ms ease-in;
	cursor: pointer;

	margin: 0.2rem;

	&-regular {
		@include font-style(18, normal, normal, 450);

		position: relative;
		transition: 0.3s;
		background: $blue-whale-color;
		box-shadow: 0 0 0.625rem 0.125rem rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 14px 30px;

		@include color-opacity($azureish-white, 0.8);

		&:hover {
			background: lighten($color: $blue-whale-color, $amount: 5);
			@include color-opacity($azureish-white, 0.8);
		}
		&:active,
		&:focus {
			color: $spring-wood-color;
			background: darken($color: $blue-whale-color, $amount: 10);
			transition: 0.6s;
		}
	}
}
